
{% extends 'base.html' %}

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

    <div class="container mt-5 pt-3">

        <h1 class="text-center pb-4 pt-5">Extrato de Conta</h1>

        <!-- Saldo atual -->
        {% comment %} <div class="alert alert-info text-center mb-4">
            <strong>Saldo atual:</strong> R$ {{ saldo|floatformat:2 }}
        </div> {% endcomment %}

        {% if movimentacoes_usuario %}
            {% for movimentacao in movimentacoes_usuario %}

                {% comment %} Destaca as movimentações acima de 5000 {% endcomment %}
                {% if movimentacao.valor >= 5000 %}
                    <div class="alert alert-danger text-center mb-4 w-75 mx-auto">
                {% else %}
                    <div class="alert alert-info text-center mb-4 w-75 mx-auto">
                {% endif %}
                    <div class="d-flex justify-content-around" >
                        <div class="" >
                            <strong>Data:</strong> {{ movimentacao.data_hora|date:"d/m/Y H:i" }}
                        </div>
                        {% if movimentacao.produto %}
                            <div class="" >
                                <strong>Produto:</strong> {{ movimentacao.produto.titulo|default_if_none:"" }}
                            </div>
                        {% endif %}  
                    </div>
                    <div class="d-flex justify-content-around mt-4">
                        <div class="" >
                            <strong>Descrição:</strong> {{ movimentacao.tipo_movimentacao }}
                        </div>
                        <div class="" >
                            {% if movimentacao.tipo_movimentacao == "Deposito" %}
                                <strong>Valor:</strong> + R$ {{ movimentacao.valor|floatformat:2 }}
                            {% else %}
                                <strong>Valor:</strong> - R$ {{ movimentacao.valor|floatformat:2 }}
                            {% endif %}                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-muted">Nenhuma compra registrada.</p>
        {% endif %}

    </div>

{% endblock %}







{% comment %} {% if movimentacoes_usuario %}
            <div class="table-responsive">
                <table class="table table-striped table-hover shadow-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Produto</th>
                            <th>Valor (R$)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in movimentacoes_usuario %}
                            <tr>
                                <td>{{ compra.data_hora|date:"d/m/Y H:i" }}</td>
                                <td>{{ compra.tipo_movimentacao }}</td>
                                <td>{{ compra.produto.titulo|default_if_none:"" }}</td>
                                {% if compra.tipo_movimentacao == "Deposito" %}
                                    <td>+ R${{ compra.valor|floatformat:2 }}</td>
                                {% else %}
                                    <td>- R${{ compra.valor|floatformat:2 }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center text-muted">Nenhuma compra registrada.</p>
        {% endif %} {% endcomment %}