

{% extends 'base.html' %}

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

    <div class="container mt-5 pt-4">

        <h1 class="text-center mb-4">Perfil do Usuário</h1>

        <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">

            <!-- Foto de perfil -->
            <div class="text-center mb-4">
                {% if perfil.imagem %}
                    <img src="{{ perfil.imagem.url}}" alt="Foto de perfil" class="rounded-circle shadow-sm" width="150" height="150">
                {% else %}
                    <img src="{% static 'images/default-profile.png' %}" alt="Foto padrão" class="rounded-circle shadow-sm" width="150" height="150">
                {% endif %}
            </div>

            <!-- Dados do usuário -->
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">
                    <strong>Nome:</strong> {{ user.get_full_name|default:user.username }}
                </li>
                <li class="list-group-item">
                    <strong>E-mail:</strong> {{ user.email }}
                </li>

                <li class="list-group-item">
                    <strong>Cpf:</strong> {{ user.perfil_usuario.cpf }}
                </li>
                <li class="list-group-item">
                    <strong>Data de Nascimento:</strong> {{ user.perfil_usuario.data_nascimento }}
                </li>
                <li class="list-group-item">
                    <strong>Telefone:</strong> {{ user.perfil_usuario.numero_telefone }}
                </li>

                {% comment %} <li class="list-group-item">
                    <strong>E-mail:</strong> {{ user.email }}
                </li> {% endcomment %}
                <li class="list-group-item">
                    <strong>Data de cadastro:</strong> {{ user.date_joined|date:"d/m/Y" }}
                </li>
            </ul>

            <!-- Botão editar -->
            {% comment %} <div class="text-center">
                <a href="#" class="btn btn-primary">Editar Perfil</a>
            </div> {% endcomment %}
        </div>

    </div>

{% endblock %}

